# -------------------------------------
#   System
# -------------------------------------

*.swp
.DS_Store

# -------------------------------------
#   Karabiner
# -------------------------------------

karabiner/automatic_backups

# -------------------------------------
#   Vim
# -------------------------------------

vim/.netrwhist
vim/autoload/plug.vim
vim/plugged
vim/sessions/*.vim

# -------------------------------------
#   Zsh
# -------------------------------------

zsh/.zcompdump
