# -------------------------------------
#   System
# -------------------------------------

*.swp
.DS_Store

# -------------------------------------
#   Vim
# -------------------------------------

vim/.netrwhist
vim/bundle
