snippet vcoh "Heading Comment"
/*************************************************
*
*   ${1:Title}
*
*************************************************/
endsnippet

snippet vcol "Long Comment"
/*-----------------------------------------------
*   ${1:Title}
-----------------------------------------------*/
endsnippet

snippet vcos "Short Comment"
/* ----- ${1:Title} ----- */$0
endsnippet
