snippet coh "Heading Comment"
/*=======================================
 *
 * ${1:Title}
 * - ${2:Description of file}
 *
 *=====================================*/
endsnippet

snippet col "Long Comment"
/*---------------------------------------
 * ${1:Title}
 *-------------------------------------*/
endsnippet

snippet cop "Prettier Comment"
/* prettier-ignore */
endsnippet

snippet cos "Short Comment"
/*----- ${1:Title} -----*/$0
endsnippet
