snippet - "Hash Rocket"
=> $0
endsnippet

snippet php "PHP Tag" w
<?php ${1} ?>$0
endsnippet

snippet phpb "PHP Tag Block"
<?php
	$1
?>$0
endsnippet

snippet phpbs "PHP Tag Block With Space"
<?php

	$1

?>$0
endsnippet

snippet phpe "Echo PHP Tag" w
<?= ${1} ?>$0
endsnippet

snippet phpi "Include"
<?php include('$1');$0 ?>
endsnippet

snippet phpio "Include"
<?php include_once('$1');$0 ?>
endsnippet
