snippet coh "Comment - Heading"
# ====================================
#   ${1:Title}
# ====================================
endsnippet

snippet cos "Comment - Sub-heading"
# ----- ${1:Title} ----- #
endsnippet
