snippet cot "Title Comment"
# ----------------------------------------------------
#
#   ${1:`!p res = re.sub(r'-', ' ', snip.basename.title())`}
#   -> ${2:Description}
#
# ----------------------------------------------------
endsnippet

snippet coh "Heading Comment"
# ----------------------------------------------------
#   ${1:Section Title}
# ----------------------------------------------------
endsnippet

snippet cos "Sub-heading Comment"
# ----- ${1:Section Title} ----- #
endsnippet
